pipeline/SplitFiles.json
{
	"name": "SplitFiles",
	"properties": {
		"activities": [
			{
				"name": "SplitFilesintoSubFiles",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SplitFilesintoSubFiles",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEachSubFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSubFiles",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSubFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "InsertDataToCession",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "GetSubFiles",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SplitFilesintoSubFiles",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "devconvamistorage1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ExtratCessionTypefromFilePath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetSubFiles",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filePath",
					"value": {
						"value": "@activity('GetSubFiles').output.childItems[0].name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filePath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}